:root{
    --textSize: 20px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: lightsteelblue;
}

.form-div{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
    font-size: var(--textSize);
}
.plan-minutes{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    position: absolute;
    width: 100%;
    top:35%;
}

#result{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    position: absolute;
    width: 100%;
    top:50%;
    font-size: var(--textSize);
}

.price-include-plan{
    display: block;
    align-items: center;
    justify-content: center;
    font-size: var(--textSize);
    color:green;
}
.price-exclude-plan{
    display: block;
    font-size: var(--textSize);
    color:red;
}
.price-exclude-plan p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-include-plan p{
    display: flex;
    align-items: center;
    justify-content: center;
}



@media  (max-width:320px){
.form-div, .plan-minutes{
    display:block;
    width: 90%;
    text-align: center;
    margin:10% auto;
    }

#OriginDDD, #DestinyDDD{
    display:block;
    margin: 5% 40%;
}
.plan-minutes{
    display:block;
    margin: 5% 5%;
    margin-top: -10%;
    width: 90%;
    justify-content: center;
    align-items: center;
}
.plan-minutes select{
    margin-bottom: 5%;
    margin-left: 25%;
}
#result{
    display:block;
    margin: 15% 5%;
    width: 90%;
    text-align: center;
}
#result p{
    margin-bottom: 10%;
}
}
@media  (min-width:321px) and (max-width:460px){
    .form-div, .plan-minutes{
        display:block;
        width: 90%;
        text-align: center;
        margin:10% auto;
        }
    
    #origemDDD, #destinoDDD{
        display:block;
        margin: 2% 40%;
        justify-content: center;
        align-items: center;
    }
    .plan-minutes{
        display:block;
        margin: 5% 5%;
        margin-top: -10%;
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .plan-minutes select{
        margin-left: 25%;
        margin-bottom: 5%;
    }
    #result{
        display:block;
        margin: 15% 5%;
        width: 90%;
        text-align: center;
    }
    #result p{
        margin-bottom: 10%;
    }
    }
    @media (min-width:420px){
        .plan-minutes select{
            margin-left: 30%;
            margin-bottom: 5%;
        }
    }
    @media (min-width:520px){
        .plan-minutes select{
            margin-left: 33%;
            margin-bottom: 5%;
        }
    }